html {
    font-family: "PT Sans"
}

body {
    background-color: rgb(39, 62, 71);
}

h1 {
    color: rgb(216, 201, 155);
    text-align: center;
    letter-spacing: 6px;
}

button:hover {
    cursor: pointer;
}

/* _____________________________ BTNS AND SEARCH________________ */

.container-top {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    /* border:1px red solid; */
}

#btn-container {
    width: 60%;
    margin-top: 10px;
    /* margin:0 auto; */
}

@media only screen and (max-width:1200px) {
    .container-top {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    #btn-container {
        width: 100%;
        flex-direction: row;
        padding-bottom: 40px;
        /* border:1px red solid; */
        text-align: center;
        /* overflow-x: scroll; */
    }
}

.btn-style {
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 10px;
    background-color: rgba(226, 60, 60, 0);
    border: 1px rgb(216, 201, 155) solid;
    box-shadow: 1px 1px 3px rgba(216, 151, 60);
    color: rgb(216, 201, 155);
    letter-spacing: .3px;
    width: 190px;
}

@media only screen and (max-width:480px) {
    .btn-style {
        width: 100px;
        letter-spacing: .8px;
        font-size: 12px;
        /* margin: 10px 20px; */
    }
}

.btn-style:hover {
    background-color: rgb(216, 151, 60);
    color: rgb(39, 62, 71);
}

.btn-style:active {
    box-shadow: inset 1px 1px 3px rgba(216, 151, 60);
}

.btn-style:focus {
    outline: 0;
}

.input-container {
    margin-top: 20px;
    margin-left: 20px;
}

@media only screen and (max-width:1200px) {
    .input-container {
        padding-top: 50px;
        border-top: .5px yellow dashed;
        margin: 0 auto;
        width:80%;
        display:flex;
        flex-direction:column;
    }
}

label {
    color: rgb(216, 201, 155);
    margin-bottom:20px;
}

input {
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(234, 233, 235);
}

@media only screen and (max-width:1200px) {
    input {
        margin-left: 0;
        width:50%;
    }
}

@media only screen and (max-width:768px) {
    input {
        margin-left: 0;
        width:80%;
    }
}

input:active {
    outline: 3px rgb(216, 151, 60) solid;
}

input:focus {
    outline: 3px rgb(216, 151, 60) solid;
}

#add-search-term {
    width: 130px;
    background-color: rgb(216, 151, 60);
    color: rgb(39, 62, 71);
    margin-left: 0;
}

#add-search-term:hover {
    border: 1px rgb(216, 151, 60) solid;
    color: rgb(216, 151, 60);
    background-color: rgba(0, 0, 0, 0);
}

/* _____________________________ GIF GRID ________________ */

.grid-container {
    width: 80%;
    padding: 40px;
    border: 1px yellow solid;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    /* grid-template-rows: 300px 300px 300px; */
}

@media only screen and (max-width:480px) {
    .one-gif {
        width: 220px;
    }
    .grid-container {
        width: 70%;
        grid-template-columns: 1fr;
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px red solid; */
    justify-content: center;
    margin: 10px auto;
    /* width:110%; */
}

/* ______________ MOBILE MENU ____________________ */

.mobile-btns-all {
    display: none;
}

@media only screen and (max-width:768px) {
    .mobile-btns-all {
        display: block;
        position: absolute;
        height: auto;
        /* border: 1px red solid; */
    }
    .btn {
        display: none;
    }
}

.fas {
    font-size: 40px;
    margin: 0 auto;
}

#mobile-btn-menu {
    width: 60px;
    position: fixed;
    top: 50px;
    background-color: rgb(39, 62, 71);
    /* border:1px red solid; */
}

#mobile-btn-menu:hover {
    color: rgb(216, 151, 60);
    /* border:1px red solid; */
}

.fa-bars {
    font-size: 14px;
}

.btn-mobile {
    height: 40px;
    font-size: 12px;
    width: 100px;
}

.btn-mobile:hover {
    color: rgb(216, 151, 60);
    border: 1px rgb(216, 151, 60) solid;
}

.display-mobile-btns {
    /* border:1px red solid; */
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 100px;
    /* border:1px red solid; */
    background-color: rgba(39, 62, 71, .9);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.rating {
    color: yellow;
    margin-bottom: 85px;
}
